.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  &__logo {
    cursor: pointer;
  }
}

.navigation__btn {
  margin-left: 10px;
}


.movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;

  &__img{
    width: 300px;
  }
}

.mat-card-actions .mat-stroked-button {
  margin: 0;
}

.mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}